.margin-bottom-10 {
    margin-bottom: 10px !important;
}
.margin-top-15 {
    margin-top: 15px !important;
}
.margin-top {
    margin-top: 30px;
}
span.dashBoardMenuItem.active {
    color: #007AFF;
    font-family: 'sunbirdboldfont';
    font-weight: bold;
}
.cursor-pointer {
    cursor: pointer !important;
}
.dashBoardMenuItem {
    font-family: 'sunbirdregularfont';
    font-size: 0.9375em;
    color: #007AFF;
}
.float-ContentLeft {
    float: left !important;
}
.padding-top-10 {
    padding-top: 10px !important;
}
.corse-graph-navigation-btn {
    position: absolute;
    right: 1.6em;
    top: 1.6em;
}
.margin-top-20 {
    margin-top: 20px !important;
}
.slider {
    width: 100%;
    margin: 0 auto;
}
.course-graph-holder {
    display: inline;
}
.padding-top-30 {
    padding-top: 30px !important;
}
.dashBoardSectionHeading {
    font-family: 'sunbirdboldfont';
    font-size: 1.4em;
}
/*New*/
.padding-left-5 {
    padding-left: 5px;
}
.sb-hide {
    display: none !important;
}